<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFV/VNF Monitoring</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<style>
    tbody, td, th {border: none !important;}
    .NSs > thead th {border-bottom: 2px solid #eee !important;}
    .NSs > tbody > tr:first-child td { border-bottom: 1px solid #eee !important;}
    .VNFs > tbody > tr > td { border-bottom: 1px solid #eee !important; background: #f5f5f5 !important;}
    td, th { font-size: 0.97em !important;}
</style>
<body>
<div id="wrap">
    <th:block th:replace="fragment/left"></th:block>
    <section id="right">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Network Service</h3>
                        <div class="card-text">
                            <table class="table NSs">
                                <thead>
                                <tr>
                                    <th scope="col" width="21%">ID</th>
                                    <th scope="col" width="14%">Name</th>
                                    <th scope="col" width="30%">Description</th>
                                    <th scope="col" width="35%">Status</th>
                                </tr>
                                </thead>
                                <tbody th:each="ns, obj: ${NSs}" >
                                    <tr data-toggle="collapse" th:data-target="'#accordian' + ${obj.index}">
                                        <td th:text="${ns.id}"></td>
                                        <td th:text="${ns.name}"></td>
                                        <td th:text="${ns.description}"></td>
                                        <td>
                                            <div class="btn btn-sm configStatus" th:text="${ns.configStatus}"></div>
                                            <div class="btn btn-sm nsStatus" th:text="${ns.nsState}"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="padding: 0;">
                                            <div class="collapse" th:id="'accordian' + ${obj.index}">
                                                <table class="table table-light VNFs" style="margin: 0;">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" width="21%" style="padding: 0;"></th>
                                                            <th scope="col" width="14%" style="padding: 0;"></th>
                                                            <th scope="col" width="10%" style="padding: 0;"></th>
                                                            <th scope="col" width="10%" style="padding: 0;"></th>
                                                            <th scope="col" width="10%" style="padding: 0;"></th>
                                                            <th scope="col" width="35%" style="padding: 0;"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr th:each="vnf, vnfObj: ${ns.VNFs}">
                                                            <td th:text="${vnf.id}"></td>
                                                            <td th:text="${vnf.name}"></td>
                                                            <td><strong>VCPU</strong>: <span th:text="${vnf.flavor.vcpu}"></span> Core</td>
                                                            <td><strong>Disk</strong>: <span th:text="${vnf.flavor.disk}"></span> GB</td>
                                                            <td><strong>Memory</strong>: <span th:text="${vnf.flavor.memory}"></span> MB</td>
                                                            <td>
                                                                <canvas class="vmRunningChart" th:id="'vmRunningChart_' + ${obj.index} + '_' + ${vnfObj.index}" height="30"></canvas>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="/js/index.js"></script>
<script th:inline="javascript">
$(function() {
    var NSs = [[${NSs}]];
    $(NSs).each(function(nsIndex, ns) {
        $(ns.vnfs).each(function(vnfIndex, vnf) {
            var ctx = document.getElementById("vmRunningChart_" + nsIndex + "_" + vnfIndex).getContext("2d");
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
                    datasets: [{
                        data: vnf.vmStatus,
                        backgroundColor: "rgba(0, 123, 255, 0.1)",
                        borderColor: "rgba(0, 123, 255, 1)",
                        borderWidth: 1,
                        lineTension: 0,
                        pointRadius: 0
                    }]
                },
                options: {
                    responsive: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        xAxes: [{
                            display: false,
                            gridLines: {
                                display: false
                            }
                        }],
                        yAxes: [{
                            display: false,
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                beginAtZero: true,
                                max: 2,
                                stepValue: 1,
                                steps: 2
                            }
                        }]
                    }
                }
            });
        });
    });
});
</script>
</body>
</html>