<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section id="left" th:fragment="left">
    <header>
        <h1>
            <a href="/">Dashboard</a>
        </h1>
    </header>
    <ul class="menu">
        <li>
            <a href="/">Overview</a>
        </li>
        <li>
            <a href="/ns">OSM Network Service</a>
        </li>
        <li>
            <a href="/vm">OpenStack VM Instance</a>
        </li>
        <li>
            <a href="/usage">OpenStack Resource Usage</a>
        </li>
        <li>
            <a href="/kube">Kubernetes Container</a>
        </li>
    </ul>
</section>
</body>
</html>